<section>
<h1><%= @map.title %></h1>
<h3><%= @map.user.email %></h3>
</section>

<div id="form">
  <%= render 'markers/form' %>
</div>

<div id="map"></div>

<div id="infoForm" >
  <%= link_to edit_marker_path(@markers.ids), remote: true %>
    <%= render 'markers/edit_form' %>
</div>

<table id="markers">
<%= render(@map.markers) %>
</table>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9JRLgL2ATvunEN0vRZ7g3fBeBiVznUo&libraries=places&callback=initialize"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>