
<section>
<h1><%= @map.title %></h1>
<h3><%= link_to "Back To Maps", maps_path %></h3>
<h3>  <%= link_to "Show Markers", controller: "markers", action: "index", map_id: @map%></h3>
<h3><%= link_to "Calendar", map_events_path(@map) %></h3>

</section>

<div id="form">
  <%= render 'markers/form' %>
</div>
<div id="directions">
  <strong>Mode of Travel: </strong>
  <select id="mode">
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
    <option value="TRANSIT">Transit</option>
  </select>
  <button id="directionsBtn">Get Directions</button>
</div>
<div id="map"></div>
<table id="markers" >
<%= render(@map.markers) %>
</table>
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyCq9JRLgL2ATvunEN0vRZ7g3fBeBiVznUo&libraries=places&callback=initialize' %>
<%= javascript_include_tag 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js' %>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9JRLgL2ATvunEN0vRZ7g3fBeBiVznUo&libraries=places&callback=intialize"></script> -->
<!--   <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script> -->