<section>
<h1><%= @map.title %></h1>
<h3><%= @map.user.email %></h3>
<h3>  <%= link_to "Show Markers", controller: "markers", action: "index", map_id: @map%></h3>
<h3><%= @mark %></h3>
</section>
<div>
</div>

<div id="form">
  <%= render 'markers/form' %>
</div>

<div id="map"></div>

<div id="infoForm" >
</div>
<table id="markers" style="display: none">
<%= render(@map.markers) %>
</table>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9JRLgL2ATvunEN0vRZ7g3fBeBiVznUo&libraries=places&callback=initialize"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>