<h1><%= @map.title %></h1>
<p>Address: <%= @map.address %></p>
<p>Coordinates: <%= @lat %> <%= @lng %> </p>
<%= link_to "Delete", @map, method: :delete, data: {confirm: "are you sure?"} %>

<div id="map"></div>
<div>
<%= render "markers/new" %>
</div>
<script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @lat %>, lng: <%= @lng %> },
    zoom: 16
});
</script>
