<section>
<h1><%= @map.title %></h1>
<%= link_to "Add Marker", new_map_marker_path(@map) %>
</section>

<div id="form">
  <%= render 'markers/form' %>
</div>

<div id="map"></div>
<%= javascript_include_tag 'maps.js' %>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9JRLgL2ATvunEN0vRZ7g3fBeBiVznUo&callback=initialize"></script>

<table id="markers">
<%= render(@map.markers) %>
</table>
