<tr>
  <td>
    <%= marker.title %>
  </td>
  <td>
    <%= marker.address %>
  </td>
  <td>
    <%= marker.latitude %>
  </td>
  <td>
    <%= marker.longitude %>
  </td>
  <td>
    <%= marker.info %>
  </td>
  <td>
    <%= marker.map_id %>
  </td>
  <td class="place">
    <%=marker.place_id %>
  </td>
  <td>
    <%= link_to 'Show', map_marker_path(@map.id, marker.id) %>
  </td>
  <td>
    <%= link_to 'Destroy', map_marker_path(@map, marker), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
  <td class="place">
    <%=marker.id %>
  </td>
</tr>