<p id="notice"><%= notice %></p>

<h1>Listing Markers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Info</th>
      <th>Map</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.title %></td>
        <td><%= marker.address %></td>
        <td><%= marker.latitude %></td>
        <td><%= marker.longitude %></td>
        <td><%= marker.info %></td>
        <td><%= marker.map_id %></td>
        <td><%= marker.id %></td>
        <td><%= link_to 'Show', marker_path(marker), controller: 'markers',action: 'show', class: "btn btn-default"  %></td>
        <td><%= link_to 'Edit', edit_marker_path(marker), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', marker_path(marker), controller: 'markers', method: :delete, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
