<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @marker.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @marker.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @marker.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @marker.longitude %>
</p>

<p>
  <strong>Info:</strong>
  <%= @marker.info %>
</p>

<p>
  <strong>Map:</strong>
  <%= @marker.map_id %>
</p>

<p>
  <strong>place:</strong>
  <%= @marker.place_id %>
</p>

<%= link_to 'Edit', edit_marker_path(@marker) %>
<%= link_to 'Show Markers', map_markers_path(@marker.map_id) %>
