<p id="notice"><%= notice %></p>

<h1>Calendar</h1>
<h3><%= link_to "My Maps", maps_path, class: "btn btn-default" %></h3>
<table>
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event %>
      </td>
      <td>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      </td>
    </tr>
  <% end %>
</table>

<%= month_calendar events: @events do |date, events| %>
  <%= date %>
  <br/>
  <% events.each do |event| %>
    <div class="btn-toolbar" role="toolbar">
      <%= link_to event.name, event, class: "btn btn-sm" %>
      <%= link_to 'Edit', edit_event_path(event, map_id: @map), class: "btn btn-sm"%>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm"%>
    </div>
  <% end %>
  <%= link_to 'New Event', new_event_path(date: date, map_id: @map), class: "btn btn-sm btn-default"%>
<% end %>
<br>
