<p id="notice"><%= notice %></p>

<h1>Calendar <%= @map %></h1>

<%= month_calendar events: @events do |date, events| %>
  <%= date %>
  <br/>
  <% events.each do |event| %>
    <div>
      <%= link_to event.name, event %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <%= link_to 'Add Event', new_event_path(date: date, map_id: @map)%>
<% end %>
<br>


