<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Map ID:</strong>
  <%= @event.map_id %>
</p>

<p>
  <strong>Marker ID:</strong>
  <%= @event.marker_id %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Document:</strong>
  <%= link_to 'Document', @event.document.url, class: "btn btn-default" %>
</p>
<%= link_to 'Show on Map', map_path(@event.map_id, marker_id: @event.marker_id), class: "btn btn-default" %> |
<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default" %> |
<%= link_to 'Back', map_events_path(@event.map_id, @map), class: "btn btn-default" %>
