<div class='infowindow'>
	<strong><h1>{{name}}</h1></strong>
	<address>{{address}}</address>
	<p>
	Open Now: {{open}}&nbsp;&nbsp;&nbsp;
		Rating: {{rating}}&nbsp;&nbsp;&nbsp; 
		<a href={{website}}>Website</a>
	</p>
	<p><a href=tel:{{phoneI}}>{{phone}}</a></p>
	<h3><b>Notes:</b></h3>
	<p>{{info}}</p>
	<h4>
		{{reviewAuth}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Rating: {{reviewRate}}
	</h4>
		<p>{{reviewText}}</p>
		<img src={{photo}}></img>
</div>